---
layout: default
title: Kroužek programování
cover: 'assets/images/cover1.jpg'
class: 'home-template'
navigation: True
current: home
---
<!-- < default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header  -->
<header class="main-header {% if page.cover %}"
        style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">{{ site.description }}</h2>
            <h3>
Programování je způsob, jak popsat problém a jeho řešení srozumitelnou formou tak, aby mohl být vykonán počítačem. Ovšem nejenom počítačem. Umění popsání problému a jeho řešení se bude hodit nejenom budoucímu programátorovi, ale i budoucímu manažerovi nebo řemeslníkovi. Vědět čím začít, nalézt vzorce opakování, přijít s postupem, který zabere nejméně času a nejméně práce či peněz...

Pokud chcete kroužek programování i na vaší škole, tak pište na email krouzek.programovani@gmail.com nebo volejte na telefon 603 775737.
</h3>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Posun dolů</span></a>
</header>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

    <!-- The tag below includes the post loop - partials/loop.hbs -->
    {% include loop.html %}

<div>


<ul>
 <li><a href="https://github.com/xsuchy/programovani_pro_deti">github.com/xsuchy/programovani_pro_deti</a></li>
 <li><a href="https://www.facebook.com/krouzekprogramovani/">www.facebook.com/krouzekprogramovani/</a></li>
</ul>

<ul>
 <li>krouzek.programovani@gmail.com</li>
 <li>telefon 603775737</li>
</ul>


</main>
